= form_for [current_user, @event] do |f|
  = render partial: 'shared/error_messages', locals: { subject: @event }
  = f.label :name
  = f.text_field :name
  = f.label :location
  = f.text_field :location
  = f.label :date
  = f.text_field :date, type: 'date'
  = f.label :earliest
  = f.text_field :earliest, type: 'time', value: format_rfc_time(@event.earliest)
  = f.label :latest
  = f.text_field :latest, type: 'time', value: format_rfc_time(@event.latest)
  = f.label :length
  = f.text_field :length, type: 'number'
  = f.select :time_units, ['minutes', 'hours'], value: 'minutes'
  %br
  = f.submit yield(:submit), class: 'btn btn-large btn-primary'
