= div_for event do
  %table
    %tr
      %td
        %strong
          = link_to event.name, [current_user, event]
    - if event.location && event.location != ""
      %tr
        %td Location: #{event.location}
    %tr
      %td #{event.start_time}-#{event.end_time}
