= div_for event do
  %table
    %tr
      %td
        %strong
          - if event.saveable?
            = link_to event.name, [current_user, event]
          - else
            = event.name
    - unless event.location.blank?
      %tr
        %td Location: #{event.location}
    %tr
      %td #{event.start_time}-#{event.end_time}
