.row
%table
  %tr
    %td
      %strong
        = @appointment.name
  - if @appointment.location && @appointment.location != ""
    %tr
      %td Location: #{@appointment.location}
  %tr
    %td Date: #{link_to format_date(@appointment.date), day_path(@appointment.date)}
  %tr
    %td Time: #{@appointment.start_time}-#{@appointment.end_time}
  %tr
    %td
      = link_to 'edit', edit_user_appointment_path(current_user, @appointment)
